<div *ngFor="let widget of widgets; let index = index">
    <mat-card *ngIf="widget.name === 'search sub'" class="example-card" cdkDragBoundary=".example-boundary" cdkDrag>
        <mat-card-header class="example-header-image" >
            <mat-card-title>Reddit Search</mat-card-title>
            <mat-card-subtitle *ngIf="search[index] != undefined" class="sub-text">http/reddit.com{{search[index].url}}</mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="search[index] != undefined"  mat-card-image [src]="search[index].banner_img" alt="Photo">
          <mat-card-content *ngIf="search[index] != undefined"  class="text-deco">
              <strong>
                  <p>Name: {{search[index].name}}</p>
                  <p>subscribers: {{search[index].subscribers}}</p>
                  <p>Description: {{search[index].public_description}}</p>
                  <p>Lang: {{search[index].lang}}</p>
              </strong>
          </mat-card-content>
          <mat-card-actions>
            <form [formGroup]="form[index]">
                <mat-form-field class="example-form"  appearance="fill">
                    <input matInput type="text" matInput placeholder="Search"
                        formControlName="channel" required />
                </mat-form-field>
                <button class="mat-button" mat-button color="primary" (click)="sendSearchRE(index)"
                [disabled]="!form[index].valid">Search</button>                
            </form>
            <button mat-icon-button (click)="deleteWidget(index)">
                <mat-icon> delete </mat-icon>
            </button>
          </mat-card-actions>
    </mat-card>
</div>