{
    <p style="margin-left: 40px">" client ": {<p>
    <p style="margin-left: 80px">" host ": <%= ip %> </p>
    <p style="margin-left: 40px">} , <br>
    " server ": {</p>
    <p style="margin-left: 80px">"current_time ": <%= time %> <br>
     "services ": [{</p>
    <p style="margin-left: 120px">" name ": " Location " ,<br>
    " widgets ": [{
    <p style="margin-left: 160px">" name ": " city_temperature " , <br>
    <p style="margin-left: 160px">" description ": " Display temperature for a city " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " city " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px"> }]<br>
    <p style="margin-left: 120px"> }, {<br>
    <p style="margin-left: 160px">" name ": " city_location " , <br>
    <p style="margin-left: 160px">" description ": " Display the location of a city " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " city " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px"> }]<br>
    <p style="margin-left: 120px"> }, {<br>
    <p style="margin-left: 160px">" name ": " city_time " , <br>
    <p style="margin-left: 160px">" description ": " Display time of the timezone of a city " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " city " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px"> }]<br>
    <p style="margin-left: 120px"> }]<br>
    <p style="margin-left: 80px">  } , {<br>
    <p style="margin-left: 120px">" name ": " Currency " ,<br>
    " widgets ": [{
    <p style="margin-left: 160px">" name ": " currency " , <br>
    <p style="margin-left: 160px">" description ": " displays the value of one currency against another " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " currency 1 " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px"> }, { <br>
    <p style="margin-left: 200px">" name ": " currency 2 " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px"> }, { <br>
    <p style="margin-left: 200px">" name ": " value " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px"> }]<br>
    <p style="margin-left: 120px"> }]<br>
    <p style="margin-left: 80px">  } , {<br>
    <p style="margin-left: 120px">" name ": " Youtube " ,<br>
    " widgets ": [{
    <p style="margin-left: 160px">" name ": " channel information " , <br>
    <p style="margin-left: 160px">" description ": " displays the information of a channel " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " channel name " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px">}]<br>
    <p style="margin-left: 120px">}, {<br>
    <p style="margin-left: 160px">" name ": " search " , <br>
    <p style="margin-left: 160px">" description ": " displays the  first result of a search " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " information " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px">}]<br>
    <p style="margin-left: 120px">}]<br>
    <p style="margin-left: 80px">  } , {<br>
    <p style="margin-left: 120px">" name ": " Reddit " ,<br>
    " widgets ": [{
    <p style="margin-left: 160px">" name ": " posts " , <br>
    <p style="margin-left: 160px">" description ": " displays the first posts of a subreddit " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " subreddit name " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px">}]<br>
    <p style="margin-left: 120px">}, {<br>
    <p style="margin-left: 160px">" name ": " search " , <br>
    <p style="margin-left: 160px">" description ": " displays the first result of a search " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " information " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px">}]<br>
    <p style="margin-left: 120px">}, {<br>
    <p style="margin-left: 160px">" name ": " my sub " , <br>
    <p style="margin-left: 160px">" description ": " displays the first subreddit the user is sub to " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " information " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px">}]<br>
    <p style="margin-left: 120px">}, {<br>
    <p style="margin-left: 120px">" name ": " Riot " ,<br>
    " widgets ": [{
    <p style="margin-left: 160px">" name ": " Summoner " , <br>
    <p style="margin-left: 160px">" description ": " displays the information of a summoner " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" name ": " Sommoner name " ,<br>
    <p style="margin-left: 200px">" type ": " string "<br>
    <p style="margin-left: 160px">}]<br>
    <p style="margin-left: 120px">}, {<br>
    <p style="margin-left: 160px">" name ": " match " , <br>
    <p style="margin-left: 160px">" description ": " displays the information of the last match of a summoner " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 160px">}]<br>
    <p style="margin-left: 120px">},{<br>
    <p style="margin-left: 120px">" name ": " Nasa " ,<br>
    " widgets ": [{
    <p style="margin-left: 160px">" name ": " Curiosity " , <br>
    <p style="margin-left: 160px">" description ": " displays the picture of one camera of Curiosity " ,<br>
    <p style="margin-left: 160px">" params ": [{<br>
    <p style="margin-left: 200px">" cam ": " cam name " ,<br>
    <p style="margin-left: 200px">" sol ": " number of sol "<br>
    <p style="margin-left: 160px">}]<br>
    <p style="margin-left: 120px">}]<br>
    <p style="margin-left: 80px">}]</p>
    <p style="margin-left: 40px">}</p>
    }